.Breadcrumbs {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}

.Breadcrumbs ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.Breadcrumbs ul>li{
    font-size: 14px;
    float: left;
    margin: 0 2px;
}

.Breadcrumbs ul>li:last-child{
    display: none;
}

.Breadcrumbs ul>li>a{
    text-decoration: none;
    color: #3c8dbc;
    font-weight: normal;
}

.Breadcrumbs ul>li>a:hover{
    color: #374850;
}

.Breadcrumbs ul>li>a.active{
    color: #828282;
    font-weight: normal;
}

