.Leftbar {
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    background-color: #23282d;
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply; */

    transform: translateX(0px);
    transition: transform .22ms ease-in;
    z-index: 90;
}

.Leftbar.close{
    transform: translateX(-300px);
}
.Leftbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.Leftbar ul>li>a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23282d;
    padding: 15px 10px;
    width: 100%;
    color: #fff;
}

.Leftbar ul>li>a.active{
    background-color:#2d343a;
}

.Leftbar ul>li>a:hover{
    background-color:#2d343a;
}