.Button {
    display: inline-block;
}

.Button button {
    position: relative;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    margin: 5px;
    padding: 0px 15px;
    line-height: 35px;
    color: #282828;
    border: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.Button button>i {
    line-height: inherit;
    float: left;
    margin-right: 10px;
}

.Button button:active{
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.3);
}

.Button button:hover {
    filter: brightness(105%);
}

.success {
    color: #fff !important;
    background-color: #26a69a;
    border-color: #c3e6cb;
}

.primary {
    color: #fff !important;
    background-color: #2884f6;
    border-color: #b8daff;
}

.navyblue {
    color: #fff !important;
    background-color: #043c82;
    border-color: #147def;
}

.orange {
    color: #fff !important;
    background-color: #ffb74d !important;
    border-color: #b8daff;
}


